body {
    background-color: #1A5653;
    color: #fff;

    
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    margin-top: 30%;
    
}

img {
    Width :284px;
    Height :242px
}


